
{% block content %}
<html>
<head>
<title>
BILL GENERATION</title>
</head>
<body>
<form>
<table>
<tr>
<td>
CONSUMER-ID:</td><td><input type="text" name="id"><br><br>
</td>
</tr>
<tr>
<td>
DATE:</td><td><input type="date"  name="date"><br><br>
</td>
</tr>
<tr>
<td>
BILL AMOUNT:</td><td><input type="text" name="billamount"><br><br>
</td>
</tr>
<tr>
<td>
 DUE DATE:</td><td><input type="date"  name="duedate"><br><br>
</td>
</tr>
<tr>
<td>
STATUS:</td><td><input type="text"  name="status"><br><br>
</td>
</tr>
<tr>
<td>
<input type="submit" name="SUBMIT">
</td>
</tr>
</table>
</form>
</body>
</html>

{% endblock  %}